h1 {
  margin-bottom: 26px;
  font-size: 46px;
  font-weight: 900;
}

h2 {
  margin: 50px 0px 30px 0px;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  margin: 50px 0px 20px 0px;
  font-size: 20px;
  font-weight: 700;
}

p {
  margin-bottom: 30px;
  line-height: 28px;
}

hr:before {
  display: block;
  margin: 50px 0px 40px 0px;
  content: "****";
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--flash_light);
}

article {
  margin-top: 80px;
}

.main_frame {
  padding-left: 160px;
  width: 100%;
  max-width: 860px;
}

.heading {
  margin-bottom: 60px;
}

.highLight {
  padding: 0px 3px;
  background-color: var(--highLight);
}

.codeWord {
  font-family: 'consolas', monospace;
  color: var(--flash);
}

.code {
  margin: 30px 0px;
}

@media screen and (max-width: 900px) {
  .main_frame {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 700px) {
  .main_frame {
    padding: 0px 30px;
  }
}

#time_n_read {
  margin: 0px 0px 10px 5px;
  display: block;
  font-size: 16px;
  color: var(--grey);
}

#nextPrevNav, #comments {
  margin: 60px 0px;
}

#nextPrevNav > div {
  padding: 16px 0px;
  border-bottom: 1px solid #e0e0e0;  
}

#nextPrevNav > div > span,
#comments > div > span {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--grey);
}

#nextPrevNav > div > a {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#comments > div > span > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}