:root {
    --primary: #483464;
    --dark: #483464;
    --bg: #fffffb;
    --flash: #ff5092;
    --link: #a750ff;
    --tagColor: #48346480;
    --tagBG: #ffffc3;
    --linkColor: #6c00ff;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.tags > li {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--dark);
  background-color: var(--tagBG);
}

.tags > li + li {
  margin-left: 6px;
}

footer {
  margin-top: 76px;
  padding: 20px 0px;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: var(--dark);
}