header {
  padding: 180px 0px 150px 0px;
}

h1 {
  margin-bottom: 30px;
  font-size: 76px;
  font-weight: 900;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

p {
  line-height: 28px;
}

.main_frame {
  padding-left: 160px;
  width: 100%;
  max-width: 860px;
}

@media screen and (max-width: 900px) {
  .main_frame {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 700px) {
  .main_frame {
    padding: 0px 30px;
  }
}

#contacts {
  font-size: 16px;
  color: var(--grey);
}

#contacts > li + li:before {
  content: "•";
  margin: 0px 10px;
}

#articles > li {
  margin-bottom: 50px;
}

#articles > li:before {
  content: "****";
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--flash_light);
}

.tags {
  margin-top: 10px;
}

.tags > li {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--dark);
  background-color: var(--tagBG);
}

.tags > li + li {
  margin-left: 6px;
}